summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, rgb(117, 22, 19), rgb(214, 48, 42));
  padding: 40px 0px;
  gap: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.summary-container {
  display: grid;
  gap: 10px;
  width: 90%;
}

.inputs-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

summary input,
summary select,
summary textarea {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

summary button {
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

summary button:hover {
  transform: scale(0.9);
  background-color: white;
  color: rgb(214, 48, 42);
}

summary h2 {
  color: white;
}

.message-input {
  height: 100px;
  text-align: top;
}

.input-error {
  color: rgb(214, 48, 42);
  background-color: black;
  max-width: 215px;
  padding: 10px 20px;
  border-radius: 5px;

  display: none;
}

.input-error-active {
  display: block;
}

.list-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1027px) {
  .inputs-container {
    grid-template-columns: 0.8fr 0.8fr;
    gap: 20px;
  }
  .summary-container {
    display: grid;
    gap: 10px;
    width: 60%;
  }
  summary button {
    max-width: 200px;
  }
}
